.head{
    height: 50px;
    background: black ;
    /* overflow: hidden; */
}
.logo{
    margin-right: 40px;
}

.nav>li{
    float: left;
}
.nav a{
    display: block;
    color: #ccc;
    font: 16px/49px '楷体';
    padding: 0 20px;
}
.nav>.now>a{
    color: white;
    background: url(../images/nav_now_bg.png) no-repeat center 80%;
}
/* 整屏滑动 */
.screen{
   
    position: relative;
    overflow: hidden;
}
.screen>ul{
    width: 100%;
    height: 600%;
    position: absolute;
    top: 0;
    left: 0;
}
/* 第一屏 */
.block-one{
    text-align: center;
    position: relative;
}
.big>img{
    width: 300px;
    height: 300px;
    margin-top: 20px;
}
.big .feicui {
    color: #ccc;
}
.big .feicui span{
    font-size:46px;
    font-family: '楷体';
}
.big .feicui p{
    line-height: 30px;
    letter-spacing: 5px;
}
.big .xue span{
    color: #ccc;
    font-size:46px;
    line-height: 70px;
    font-family: '楷体';
}
.big .txt{
    margin-top: 20px;
}
.big .txt p{
    color: #ccc;
    font-size:20px;
    line-height: 26px;
    font-family: '楷体';
}
.big .jingling{
    display: inline-block;
    margin-top: 20px;
    width: 58px;
    height: 58px;
    background: url(../images/aboutxiaoniao/donext.png) no-repeat 0 -58px;
}
.big .jingling:hover{
    background: url(../images/aboutxiaoniao/donext.png)no-repeat 0 0;
}
.title{
    padding-top: 100px;
    text-align: center;
    padding-bottom: 30px;
}
.title>p{
    font-size: 50px;
    line-height: 50px;
    color: #ccc;
}
.zhijiao{
    position: relative;
    width: 966px;
    height: 378px;
    border: 1px solid transparent;
    margin: 0 auto;
}
.zhijiao>.zs{
    position: absolute;
    top: 0;
    left: 0;
}
.zhijiao>.zs img{
    position: absolute;
    top: 0;
    left: 0;
}

.zhijiao>.ys{
    position: absolute;
    top: 0;
    right: 0;
}
.zhijiao>.ys img{
    position: absolute;
    top: 0;
    right: 0;
}
.zhijiao>.zx{
    position: absolute;
    bottom: 0;
    left: 0;
}
.zhijiao>.zx img{
    position: absolute;
    bottom: 0;
    left: 0;
}
.zhijiao>.yx{
    position: absolute;
    bottom: 0;
    right: 0;
}
.zhijiao>.yx img{
    position: absolute;
    bottom: 0;
    right: 0;
}
.zhijiao>.he{
    margin: 28px 0 0 72px;
}
.zhijiao>.he>.meidui{
    width: 300px;
    height: 320px;
    background: url(../images/meiddui.png) no-repeat;
}
.zhijiao>.he>.meiz{
    margin-left: 20px;
    width: 500px;
    height: 320px;
    
}
.zhijiao>.he>.meiz p{
    font-size: 18px;
    line-height: 24px;
    color: white;
}



/* 第五屏 */
.block-five{
    background: url(../images/aboutxiaoniao/app&contacts_bg.gif)no-repeat ;
    background-size: 100%;
}
.block-five .ma{
    height: 100%;
    position: relative;
}
.block-five .ma>.img{
    position: absolute;
    left: 0;
    top: 40px;
}
.block-five .ma>.meizi{
    position: absolute;
    right: 0;
    bottom: 40px;
}
.block-five .ma>.meizi>.text,.block-five .ma>.img>.text{
    width: 400px;
    height: 300px;
    font-size: 18px;
    color: gray;
    line-height: 24px;
}

/* 第二屏 */
.block-two,.block-four{
    position: relative;
}
.block-two ul,.block-four ul{
    position: absolute;
    width: 310%;
    height: 100%;
    top: 0;
}
.block-two .slide,.block-four .slide{
    /* js设置宽度 */
    height: 100%;
    float: left;
}
.slide>.container{
    height: 100%;
    position: relative;
}
.slide .box{
    /* background: pink; */
    position: absolute;
    text-align: center;
    width: 80%;
    height: 80%;
    font: 38px/80px '楷体';
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.slide .box>p{
    color: #211135;
}
.slide .box .write {
    position: relative;
    width: 680px;
    margin: 0 auto;
}
.slide .box .write>.a{
    position: absolute;
    top: 0;
    left: 0;
}
.slide .box .write>.b{
    position: absolute;
    bottom: 0;
    right: 0;
}
.slide .box .write p{
    text-indent: 40px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
.slide .box>.tu{
    padding-top: 30px;
    width: 100%;

}
.slide .box>.tu img{
    width: 20%;
    
}
.block-two .arrow{
    position: absolute;
    width: 80%;
    height: 58px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.block-two .arrow>.left ,.block-two .arrow>.right{
    width: 58px;
    height: 58px;
    background: url(../images/aboutxiaoniao/goleft.png)no-repeat 0 0;
    cursor: pointer;
}
.block-two .arrow>.left:hover{
    background: url(../images/aboutxiaoniao/goleft.png)no-repeat -58px 0;
}
.block-two .arrow>.right{
    background: url(../images/aboutxiaoniao/goright.png)no-repeat -58px 0;
}
.block-two .arrow>.right:hover{
    background: url(../images/aboutxiaoniao/goright.png)no-repeat 0 0;
}
/* 第四屏幕 */
.block-four .arrow{
    width: 170px;
    height: 8px;
    position: absolute;
    bottom: 16%;
    left: 0;
    right: 0;
    margin: auto;
}
.block-four .arrow .left,.block-four .arrow .right{
    width: 78px;
    height: 8px;
    background: url(../images/aboutxiaoniao/xiaoniaoyun_btn.png) no-repeat 0 -8px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}
.block-four .arrow .left span,.block-four .arrow .right span{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../images/aboutxiaoniao/xiaoniaoyun_btn.png) no-repeat 0 0;
    top: 0;
    left: 0;
}
.block-four .arrow .right span{
    left: -78px;
}
.block-four .box{
    width: 100%;
}
.block-four .yun{
    text-align: center;
    font: 50px/100px ；
}
.block-four .duan{
    margin-top: 80px;
}
.block-four .duann>p{
    font-size: 24px;
    line-height: 36px;
    text-align: left;
}

/* 欢迎页 */
.welcome{
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 20;
}
.welcome .container{
    height: 100%;
    position: relative;
}
.welcome .box{
    position: absolute;
    width: 80%;
    height: 80%;
    text-align: center;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
}
