.header{
    width: 100%;
    height: 50px;
    background:url(../images/aboutxiaoniao/beader_bg.jpg) no-repeat center ;
}
.lie{
    margin-left: 56px;
}
.lie li{
    float: left;
    font-size: 14px;
    color:#7a7086;
    line-height: 50px;
    margin-right: 40px;
}
.lie>.gaisu{
    color: #fefefe;
}